<% @title = "Apply to Afterburner" %>
<div class="page-header">
  <h1>Apply to Afterburner</h1>
</div>
<p class="lead">Spring Session: March 7th &ndash; May 30th<br/>Applications due February 14th</p>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<form role="form" method="POST" action="/apply/2015-Q1">
  <div class="form-group <%= "has-error" if form.failed_on?(:github_login) %>">
    <label for="github_login">GitHub Login</label>
    <input type="text" class="form-control" value="<%= github_user.login %>" disabled="disabled">
  </div>
  <div class="form-group <%= "has-error" if form.failed_on?(:name) %>">
    <label for="name">Name</label>
    <% if @user %>
      <input type="text" class="form-control" disabled="disabled" value="<%= @user.name %>">
      <input type="hidden" name="name" id="name" value="<%= @user.name %>">
    <% else %>
      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
    <% end %>
  </div>
  <div class="form-group <%= "has-error" if form.failed_on?(:email) %>">
    <label for="email">Email</label>
    <% if @user %>
      <input type="text" class="form-control" disabled="disabled" value="<%= @user.email %>">
      <input type="hidden" name="email" id="email" value="<%= @user.email %>">
    <% else %>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    <% end %>
  </div>
  <div class="form-group <%= "has-error" if form.failed_on?(:t_shirt_size) %>">
    <label for="t_shirt_size">T-Shirt Size</label>
    <% if @user %>
      <div><%= @user.t_shirt_size %></div>
      <input type="hidden" name="t_shirt_size" id="t_shirt_size" value="<%= @user.t_shirt_size %>">
    <% else %>
      <% ["S", "M", "L" ,"XL", "XXL"].each do |size| %>
        <div class="radio">
          <label><input type="radio" name="t_shirt_size" id="t_shirt_size" value="<%= size %>"/>&nbsp;<%= size %></label>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group <%= "has-error" if form.failed_on?(:project_description) %>">
    <label for="project_description">Project Description</label>
    <p class="help-block">Afterburner mentors work with you on an iOS project of your choice. Tell us about the app you'd like help building. What kind of app you ask? Any iOS app you've always wanted to build. :) Perhaps you want to build an app that...</p>
    <ul class="help-block">
      <li>...is the perfect side-scrolling platform game</li>
      <li>...visualizes marching band patterns</li>
      <li>...manages the value of your baseball card collection</li>
      <li>...whatever you think you can build!</li>
    </ul>
    <textarea name="project_description" class="form-control" rows="6" placeholder="Type your project description" type="text"></textarea>
  </div>
  <div class="form-group <%= "has-error" if form.failed_on?(:repo) %>">
    <label for="repo">Challenge Solution</label>
    <p class="help-block">Select the repository containing your code for the <a href="/how-to-apply#challenge">challenge problem</a>.<br/>
    Before submitting, make sure your application builds and runs from a clean checkout!</p>
    <% repos = github_user.api.repositories %>
    <% repos.each do |r| %>
      <div class="radio">
        <label><input type="radio" name="repo" id="repo" value="<%= r[:full_name] %>"/>&nbsp;<%= r[:full_name] %></label>
      </div>
    <% end %>
    <% if repos.empty? %>
      <div class="alert alert-danger" role="alert">Looks like you have no GitHub repos. Create one to store your challenge solution then come back.</div>
    <% end %>
  </div>

  <button type="submit" class="btn btn-primary">Apply</button>
</form>
