<div style="height:80px; width: 100%; background-color: #2c2c2c; position: absolute;"></div>
<section class="pagetitle">
  <!-- BEGIN: ABOUT TITLE --> 
  <div class="section-title row text-center">

    <h2>2014 FALL SESSION APPLICATION</h2>
    <div class="divider-grey"></div>
    <div class="sub-title">FALL SESSION: SEPT 6th &ndash; NOV 1st 2014<br>APPLICATIONS DUE JULY 15th</div>
  </div>
  <!-- END -->
</section>

<!-- BEGIN BLOG 3 COLUMNS -->
<section id="blog" class="blog-single light-section nopadding">
  <!-- BEGIN CONTAINER -->
  <div class="container single">

    <!-- BEGIN SINGLE CONTENT COLUM -->
    <div class="col-md-12">	

      <!-- BEGIN BLOG POST -->
      <div class="blog-post isotope-item application">
        <!-- BEGIN POST CONTENT -->
        <div class="post-content" style="position: relative">
          <div style="font-size: .75em; position: absolute; right: 20px; text-align: right">Have a problem?<br/>Email <a href="mailto:application@afterburner.me" style="color: #8c8c8c">application@afterburner.me</a></div>
          <div class="application-label">GitHub Username</div>
          <div class="application-value"><%= github_user.login %></div>
          <div><a href="/auth/logout" style="font-size: .75em">Not you? Logout.</a></div>
          <div class="spacing"></div>
          <p>
            <div class="application-label">Describe Your Project</div>
            <div class="application-sublabel">Afterburner mentors work with you on an iOS project of your choice. Tell us about the app you'd like help building.</div>
          </p>
          <textarea name="project_description" style="width: 100%" rows="6"></textarea>
          <div class="spacing"></div>
          <p>
            <div class="application-label">Challenge Solution</div>
            <div class="application-sublabel">Select the repository containing your code for the challenge problem described below.</div>
          </p>

          <div class="application-radios">
            <% @repos.each do |r| %>
              <input type="radio" name="repo" value="<%= r[:full_name] %>"/>&nbsp;<%= r[:full_name] %><br/>
            <% end %>
          </div>
          <div class="spacing"></div>
          <p>
            <div class="application-label">T-Shirt Size</div>
          </p>

          <div class="application-radios">
            <% ["S", "M", "L", "XL", "XXL"].each do |size| %>
              <input type="radio" name="t_shirt_size" value="<%= size %>"/>&nbsp;<%= size %><br/>
            <% end %>
          </div>

          <div class="text-center">
            <a class="des-button-dark des-button-dark-1 des-button-dark-1d" href="/apply/2014-Q3"><span>Apply</span></a>
          </div>

          <div class="divider-grey"></div>
          <div class="sub-title" style="text-align: center">Movie Suggestion Challenge</div>
          <div class="space"></div>
          <p>Build an iOS app using the Rotten
          Tomatoes API that suggests a “good” movie based on previous movie
          ratings.</p>

          <p>Start by presenting the user a series of movies to rate. Once the
          user has rated a few movies, display a list of movies you think the
          user would like, based on their ratings.</p>

          <p>Details are up to you, but here are some things to think about:</p>

          <ul>
            <li>How will you decide which movies to present to the user to
            rate? How can you increase the probability that the user has
            actually seen that movie? What happens if they haven't seen the
            movie? Maybe some resources in the Rotten Tomatoes API can help you
            with this :)</li>

            <li>How many initial movies should the user rate before displaying
            suggestions? Do more ratings make for more accurate
            suggestions?</li>

            <li>How will you find suggested movies based on the rated movies?
            What if you tried different criteria, like same genre, directors,
            actors etc.? How would you allow the user to select which criteria
            to apply?</li>
          </ul>

          <p>Tips:</p>

          <ul>
            <li>Balance your time between visuals and algorithmic functionality.</li>
            <li>Even if you don't finish, be sure to turn in what you have.</li>
            <li>Learn more about the Rotten Tomatoes API at http://developer.rottentomatoes.com/</li>
          </ul>

        </div>
        <!-- END POST CONENT -->
      </div>
      <!-- END BLOG POST -->
    </div>	
    <!-- END SINGLE CONTENT COLUMN -->
  </div>	
  <!-- END CONTAINER -->
</section> 
