<div class="page-header">
  <h1>Decorate</h1>
</div>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert"><%= session[:error] %></div>
<% end %>
<% if flash[:message] %>
  <div class="alert alert-success" role="alert"><%= session[:message] %></div>
<% end %>

<form role="form" method="POST" action="/medals/decorate">
  <div class="form-group">
    <label for="github_login">Pick a User</label>
      <% for u in @users do %>
        <div class="radio">
          <label>
            <input type="radio" name="github_login" id="github_login" value="<%= u.github_login %>"> <%= u.name %> (<%= u.github_login %>)
          </label>
        </div>
      <% end %>
  </div>
  <div class="form-group">
    <label for="medal_id">Pick a Medal</label><br>
    <% for m in @medals do %>
        <div class="radio">
          <label>
            <input type="radio" name="medal_id" id="medal_id" value="<%= m.id %>"> <%= m.name %>
            <span class="help-block"><%= m.description %></span>
          </label>
        </div>
    <% end %>
  </div>
  <button type="submit" class="btn btn-primary">Decorate</button>
</form>
