<% @title = @profile_user.github_login %>
<div class="page-header">
  <h1>
    <%= @profile_user.github_login %>
    <% if @profile_user.type == :mentor %>
      <a href="#" data-toggle="tooltip" title="This user is a mentor." data-placement="right"><small><span class="glyphicons star"></span></small></a>
    <% end %>
    <% if @profile_user.type == :admin %>
      <a href="#" data-toggle="tooltip" title="This user is an admin." data-placement="right"><small><span class="glyphicons sheriffs_star"></span></small></a>
    <% end %>
  </h1>
</div>

<h3>Medals</h3>
<p class="lead">Win medals by accomplishing tasks and meeting milestones. Each medal you win gets you closer to the top of the leaderboard.</p>
<div class="row">
  <div class="col-sm-8">
    <ul class="clearfix" style="padding: 0; list-style: none">
    <% for m in Afterburner::Medals.awarded_to(@profile_user) do %>
      <% secret = (m[:medal].secret == true && m[:count] == 0) %>
      <li data-toggle="tooltip" title="<%= secret ? "Shh. This medal is secret. You'll just have to work hard and keep your fingers crossed." : m[:medal].description %>" style="min-width: 22%; margin-right: 3px; margin-bottom: 3px; float: left; text-align: center; background-color: #f9f9f9; min-height: 120px; padding: 20px; position: relative">
        <% if m[:count] > 0 %>
          <span class="badge" style="position: absolute; right: 20px; top: 20px;">&#215;<%= m[:count].to_s %></span>
        <% end %>
        <span class="icon ion-ribbon-a" style="font-size: 250%;
          <%= if m[:count] == 0
            "color: \#ddd"
          end %>">
        </span>
        <div style="<%= secret ? "color: \#ddd" : "" %>">
          <% if secret %>
            ...
          <% else %>
            <%= m[:medal].name %>
          <% end %><br/>
          <%= m[:medal].points.to_s %> pts
          </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="col-sm-4">
    <div class="visible-sm-block visible-md-block visible-lg-block pull-left" style="border-left: 1px solid #ddd; height: 120px; margin-right: 10px"></div>
    <div class="visible-xs-block" style="border-top: 1px solid #ddd; height: 1px; margin-bottom: 10px"></div>
    <span class="h1"><%= @profile_user.points %><br/></span>
    <span class="h2" style="line-height: .5em"><small>points</small></span>
  </div>
</div>

<% if @user && @user.github_login == @profile_user.github_login %>
<div class="panel panel-default" style="margin-top: 2em">
  <div class="panel-heading">
    <h3 class="panel-title">Private Profile</h3>
    <small>Visible only by Afterburner admins and mentors.</small>
  </div>
  <div class="panel-body">
    Name: <%= @user.name %><br/>
    Email: <%= @user.email %><br/>
    T-Shirt Size: <%= @user.t_shirt_size %>
  </div>
</div>
<% end %>
